header {
    min-height: 700px;
    background: url("../IMGS/backlit-dawn-dusk-2292833.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;


    .inh-height // inherit height 

        {
        min-height: inherit !important;
    }

    .bt-rds {
        // video player play icon border radius
        border: 3px solid $main-clr;
        display: inline-block;
        border-radius: 50%;
    }

    i {
        cursor: pointer;
    }

    .overlay-hd {
        background-color: rgba(96, 81, 90, 0.445)
    }

    .btn-primary {
        background-color: $btn-clr2 !important;
        border-radius: 2em;
        border: 2px solid $main-clr !important;
        color: $main-clr;
    }


    .btn-primary:hover {
        background-color:$main-clr !important;
        color: $section-clr2;
    }

    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: $secod-clr;
    }

    .hvr-fade:focus,
    .hvr-fade:hover {
        background-color: $hvr-clr1;
        color: inherit;
    }

    .hvr-fade:active {
        color: $secod-clr;
    }

    .btn-primary.focus,
    .btn-primary:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba($secod-clr, 0.8) !important;
    }

}


// customize tooltip colors 