header {
  min-height: 100vh;
  background: url("../IMGS/sky.gif");
  background-size: cover;
  overflow: hidden;
}
header .inh-height {
  min-height: inherit !important;
}
header .bt-rds {
  border: 3px solid #F2F2F2;
  display: inline-block;
  border-radius: 50%;
  font-size: 2em;
  padding: 1.4vw;
}

i {
  cursor: pointer;
}

.overlay-hd {
  background-color: #f2b90c81;
}

.btn-primary {
  background-color: #17A68C;
  border-radius: 2em;
  border: 2px solid #F2F2F2;
  color: #F2F2F2;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #F2F2F2;
  border-color: #17A68C;
  color: #17A68C;
}

.btn-primary:hover {
  color: #F2F2F2;
  background-color: #17A68C;
  border-color: #F2F2F2;
}

.hvr-fade:hover {
  background-color: #17A68C;
}

.hvr-fade:focus,
.hvr-fade:active {
  background-color: #F2F2F2;
  color: #17A68C;
}

.menu-toggler-aside {
  z-index: 99999;
  color: #485460;
  padding: 0.5em 0.75em;
  top: 3.5vh;
  left: 2vw;
  background: #FFFF;
  border-radius: 2em;
  -webkit-box-shadow: 0.5px 0.5px 5.5px 0.5px #485460;
          box-shadow: 0.5px 0.5px 5.5px 0.5px #485460;
}
.menu-toggler-aside i {
  font-size: 1em;
  margin-top: 5px;
  color: #F2B90C;
  font-weight: bold;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.section.one {
  min-height: 100vh;
  overflow: hidden;
  background: #F2636F;
  color: #F2F2F2 !important;
}
.section.one .btn {
  color: #F2F2F2;
  border-radius: 2em;
}
.section.one .btn:hover {
  -webkit-box-shadow: 1px 1px 1px 1px #0000;
          box-shadow: 1px 1px 1px 1px #0000;
}
.section.one .btn.hvr-fade {
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-size: 2.5rem;
}
.section.one .btn.focus,
.section.one .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent !important;
}
.section.one .btn:hover {
  background: transparent !important;
}
.section.one .smart-phone {
  margin-top: -2em;
}
.section.one button:hover i[class="fab fa-android"] {
  color: #a3c439;
}
.section.one button:hover i[class="fab fa-android"]:active {
  opacity: 0.5;
}
.section.one button:hover i[class="fab fa-apple"] {
  color: #666666;
}
.section.one button:hover i[class="fab fa-apple"]:active {
  opacity: 0.5;
}
.section.one button:hover i[class="fab fa-windows"]:hover {
  color: #00aef5;
}
.section.one button:hover i[class="fab fa-windows"]:hover:active {
  opacity: 0.5;
}

.sectionTwo {
  min-height: 100vh;
  overflow: hidden;
  background-color: #F2B90C;
}
.sectionTwo img {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 10px 10px #ffffff8a;
          box-shadow: 3px 3px 10px 10px #ffffff8a;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.sectionTwo img:hover {
  -webkit-filter: blur(0.8px);
          filter: blur(0.8px);
}
.sectionTwo .slick-dots li.slick-active button:before {
  color: #F2F2F2;
}
.sectionTwo .slick-dots {
  position: static;
}
.sectionTwo .slick-arrow {
  display: none !important;
}
.sectionTwo .slick-slide,
.sectionTwo .slick-current,
.sectionTwo .slick-active {
  outline: none !important;
}

.main-clr {
  background-color: #F2F2F2;
}

.sectionThree {
  min-height: 100vh;
  background-color: #17A68C;
  color: #485460 !important;
  overflow: hidden;
}
.sectionThree .container-fluid {
  min-height: 100vh;
}
.sectionThree .h5 {
  opacity: 0.8;
}
.sectionThree .mt-4D {
  margin-top: 3rem;
}
.sectionThree .b-r {
  border-right: 2px solid #F2F2F2;
}
.sectionThree .btn-primary {
  background-color: #F2636F;
  border-radius: 2em;
  border: 3px solid #F2636F;
}
.sectionThree .btn-primary:not(:disabled):not(.disabled).active,
.sectionThree .btn-primary:not(:disabled):not(.disabled):active,
.sectionThree .show > .btn-primary.dropdown-toggle {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color: #F2636F;
}
.sectionThree .btn-primary:not(:disabled):not(.disabled).active:focus,
.sectionThree .btn-primary:not(:disabled):not(.disabled):active:focus,
.sectionThree .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 9, 109, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(248, 9, 109, 0.5);
}
.sectionThree .btn-primary.focus,
.sectionThree .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 9, 109, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(248, 9, 109, 0.5);
}

.section4 {
  min-height: 100vh;
  overflow: hidden;
  background: #F2F2F2;
  color: #0d2c49;
  text-transform: capitalize;
}
.section4 .badge-secondary {
  background-color: #F2B90C;
}
.section4 a {
  color: #a9a9a9;
  text-transform: uppercase;
}
.section4 button {
  text-transform: uppercase;
  background-color: #F2B90C;
  border-color: #F2B90C;
  z-index: 5555;
  border-radius: 2em;
}
.section4 li.active {
  text-transform: uppercase;
}

button.free:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(9, 232, 248, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(9, 232, 248, 0.5) !important;
}
button.free:active {
  background-color: #F2F2F2 !important;
  border-color: #17A68C !important;
  color: #17A68C !important;
}

button.premium:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 9, 101, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(248, 9, 101, 0.5);
  background-color: #F2636F;
}
button.premium:active {
  background-color: #F2F2F2 !important;
  border-color: #F2636F !important;
  color: #F2636F !important;
}

button.standard:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(224, 248, 9, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(224, 248, 9, 0.5) !important;
  background-color: #F2B90C;
}
button.standard:active {
  background-color: #F2F2F2 !important;
  border-color: #F2B90C !important;
  color: #F2B90C !important;
}

.free {
  background: #17A68C !important;
  border-color: #17A68C !important;
}

.premium {
  background: #F2636F !important;
  border-color: #F2636F !important;
}

.standard {
  background: #F2B90C !important;
  border-color: #F2B90C !important;
}

.cust-card {
  color: #F2F2F2;
  padding: 1rem;
}
.cust-card i {
  color: #F2F2F2 !important;
  font-size: 5rem;
}
.cust-card h3 {
  color: #F2F2F2;
}

.cust-hed {
  background-color: unset !important;
  color: #F2F2F2;
  padding: 1rem;
  border-radius: 2em;
}

.sectionFive {
  color: #000 !important;
  background-color: #F2CB05;
  min-height: 100vh;
}
.sectionFive form textarea {
  min-height: 150px;
  max-height: 200px;
}
.sectionFive .btn-primary {
  background-color: #F2636F;
  border-color: #F2636F;
  margin-top: 15px;
  border-radius: 2em;
}
.sectionFive .btn-primary:active {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #F2636F !important;
}
.sectionFive .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
}
.sectionFive i {
  font-size: 4em;
}
.sectionFive .btn-primary:not(:disabled):not(.disabled).active:focus,
.sectionFive .btn-primary:not(:disabled):not(.disabled):active:focus,
.sectionFive .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
}
.sectionFive .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
  border-color: #F2B90C;
}

footer {
  background: #EEEE !important;
  color: #000;
}
footer .list-group-item {
  padding-left: 0 !important;
}
footer .list-group li {
  background: transparent;
  border: none;
  opacity: 0.8;
}
footer .list-group li a {
  color: #000;
}
footer .sitemap li {
  display: block !important;
}
footer .nav a {
  color: #000;
  opacity: 0.8;
}
footer .nav a:hover {
  text-decoration: underline;
}
footer i {
  font-size: 1.5em;
}
footer small {
  cursor: pointer;
}
footer small:hover {
  text-decoration: underline;
}
footer .social-foter a {
  font-size: small;
}
footer form {
  position: relative;
}
footer form button {
  border: none;
  background: transparent;
  position: absolute !important;
  top: 50px;
  right: 2.5px;
}
footer form button i {
  color: #F2636F;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: medium;
}
footer form button i:hover {
  opacity: 1;
}
footer .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(248, 9, 121, 0.5);
  border-color: #F2636F;
}

.copy-rights {
  background-color: #eee;
  color: #000;
}

.scroller {
  overflow: hidden;
  position: fixed;
  right: 3vw;
  bottom: -50px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #485460 !important;
  border-radius: 2em;
  -webkit-box-shadow: 0.5px -0.5px 5.5px 0.5px black;
          box-shadow: 0.5px -0.5px 5.5px 0.5px black;
}
.scroller i {
  font-size: 1em;
  color: #F2F2F2;
  padding: 0.5em 0.75em;
}

.showme {
  height: auto;
  bottom: 10px;
}

.h-0 {
  height: 0;
  overflow: hidden;
}

.up-100 {
  font-size: medium;
}

.fix-header-flow {
  overflow: hidden !important;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 99999999;
}

.lds-facebook {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 45%;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #F2B90C;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
          animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  -webkit-animation-delay: -0.24s;
          animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  -webkit-animation-delay: -0.12s;
          animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
.navheader {
  z-index: 9999;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  background-color: #ffffff;
  -webkit-box-shadow: 8px 2px 6px 0.5px #0e0e0e59;
          box-shadow: 8px 2px 6px 0.5px #0e0e0e59;
  text-transform: capitalize;
}
.navheader a:not(.navbar-brand) {
  color: #F2B90C;
}
.navheader a:not(.navbar-brand):active {
  text-decoration: underline;
}
.navheader .navbar-nav .nav-link {
  font-size: 1rem !important;
  margin-left: 1.5em;
}
.navheader .navbar-nav .nav-link:active {
  color: #17A68C;
}
.navheader .navbar-brand {
  font-size: 2rem;
  color: #F2B90C !important;
}
.navheader .hvr-outline-out:before {
  border-color: #304753a9 !important;
}
.navheader .other-rng {
  color: #a9a9a9;
}
.navheader .sign li,
.navheader a {
  text-transform: none;
}

.modal-signIn {
  color: #485460;
}
.modal-signIn .modal-content {
  background-color: #EEEE;
}
.modal-signIn small a {
  color: #17A68C;
  font-weight: bold;
  opacity: 0.7;
}
.modal-signIn .btn-secondary {
  background-color: #F2B90C;
  border-color: #F2B90C;
  border-radius: 2em;
  color: #EEEE;
}
.modal-signIn .btn-primary {
  background-color: #F2B90C;
  border-color: #F2B90C;
}
.modal-signIn .btn-primary:active {
  border-color: #F2B90C !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
  color: #F2B90C !important;
}
.modal-signIn .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
}
.modal-signIn .form-control:focus {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}
.modal-signIn .btn-secondary:not(:disabled):not(.disabled).active, .modal-signIn .btn-secondary:not(:disabled):not(.disabled):active, .modal-signIn .show > .btn-secondary.dropdown-toggle {
  border-color: #F2B90C !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
  background-color: transparent !important;
  color: #F2B90C !important;
}
.modal-signIn .btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(248, 232, 9, 0.5) !important;
}

.modal-signup .modal-content {
  color: #485460 !important;
  background-color: #EEEE;
}

.signup-section {
  min-height: 100vh;
  background-color: #EEEE !important;
  color: #485460;
}
.signup-section .cust-card h3 {
  color: #485460 !important;
}
.signup-section .forma {
  border-right: 2px solid #485460;
}
.signup-section .form-control:focus {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}
.signup-section span {
  color: #17A68C !important;
  font-size: 1em;
}
.signup-section i {
  color: #17A68C !important;
}

.cptl {
  text-transform: capitalize !important;
}

.uprCase {
  text-transform: uppercase !important;
}

.lowCase {
  text-transform: lowercase !important;
}

body {
  color: #F2F2F2 !important;
  font-family: "Raleway", sans-serif;
}

.lead {
  font-size: 1rem;
}

.modal {
  z-index: 999999;
}

.contrast-p {
  font-weight: 350;
}

.section-clr2 {
  color: #F2B90C !important;
}

/* end of style */