header {
    min-height: 100vh;
    background: url("../IMGS/sky.gif")
        /*url("../imgs/girl-walking-wall-32246.jpg") center center no-repeat;*/
    ;
    background-size: cover;
    overflow: hidden;
    .inh-height // inherit height 

        {
        min-height: inherit !important;
    }

    .bt-rds {
        // video player play icon border radius
        border: 3px solid #F2F2F2;
        display: inline-block;
        border-radius: 50%;
        font-size: 2em;
        padding: 1.4vw;
    }
}

i {
    cursor: pointer;
}

.overlay-hd {
    background-color: #f2b90c81;
    //background-color: #f2b90ce0;
}

.btn-primary {
    background-color: $section-clr2;
    border-radius: 2em;
    border: 2px solid $main-clr;
    color: $main-clr;
    transition: all 0.1s ease-in;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: $main-clr;
    border-color: $section-clr2;
    color: $section-clr2;
}

.btn-primary:hover {
    color: $main-clr;
    background-color: $section-clr2;
    border-color: $main-clr;
}

.hvr-fade:hover {
    background-color: $section-clr2;
}

.hvr-fade:focus,
.hvr-fade:active {

    background-color: $main-clr;
    color: $section-clr2;
}

// customize tooltip colors 