//variables 

// main colors 
$section-clr1:#EEEE;
$section-clr2:#17A68C;
$section-clr3:#F2B90C;
$section-clr4:#8C451C;
$section-clr5:#F2636F;
$section-clr6:#8C451C;
$section-clr7:#F2CB05;
// fonts colors  
$main-clr:#F2F2F2;
$secod-clr:#a9a9a9;
$third-clr:#485460;
// buttons colors 
$btn-clr1:#7CA58E;
$btn-clr2:#0d2c49;
// hovers colors 
$hvr-clr1:#8C4B46;

// import components from sass folder 


@import '_hdr';
@import '_sctns';
@import '_autoHideNav';
@import '_modals';
@import '_signup';
// some variables tags 
.cptl {
    text-transform: capitalize !important;
}

.uprCase {
    text-transform: uppercase !important;
}

.lowCase {
    text-transform: lowercase !important;
}

body {
    color: $main-clr !important;
    font-family: 'Raleway', sans-serif;
}

.lead {
    font-size: 1rem;
}
.modal
{
    z-index: 999999;
}
.contrast-p {
    font-weight: 350;
}

.section-clr2 {
    color: $section-clr3 !important;
}


/* end of style */